*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 6rem;
    
}

.first_part{
    position: relative;
    width: 600px;
    text-align: center;
}

.second{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 45px 45px 45px 45px;
    background-color: rgb(242, 241, 241);
}

.icon{
    position: relative;
    width: 100%;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.icon_border1{
    display: inline-flex;
    height: 5rem;
    width: 5rem;
    font-size: 1.5rem;
    color: white;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(253, 19, 19);
    align-items: center;
}

.icon_border2{
    display: inline-flex;
    height: 5rem;
    width: 5rem;
    color: white;
    font-size: 1.5rem;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(238, 219, 5);
    align-items: center;
}

.icon_border3{
    display: inline-flex;
    height: 5rem;
    width: 5rem;
    font-size: 1.5rem;
    color: white;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(20, 12, 253);
    align-items: center;
}

.main_text1{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: lighter;
}

.main_text2{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}

.main_text3{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.sub_text{
    font-size: 18px;
    align-items: center;
}

.third{
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    margin: 40px 20px 0px 20px;
}

.third .box{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.third .box .photos{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.third .box .photos img{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.images{
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.pic:hover .images{
    opacity: 0.3;
}

pic:hover .overlay{
    opacity: 1;
}

.third .box .photos .pic .cover{
    font-size: 2em;
    width: 3.5rem;
    height: 3.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.main{
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.info_box{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.icon2{
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 375px;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 20px;
    background-color: white;
}

.icon_border4{
    display: inline-flex;
    height: 3rem;
    width: 3rem;
    color: white;
    font-size: 1.5rem;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(241, 145, 26);
    align-items: center;
    margin-bottom: 20px;
}

.icon_border5{
    display: inline-flex;
    height: 3rem;
    width: 3rem;
    color: white;
    font-size: 1.5rem;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(15, 239, 56);
    align-items: center;
    margin-bottom: 20px;
}
.text{
    font-size: 14px;
}

.text a{
    color:rgb(70, 70, 254);
    text-decoration: none;
}

.text a:hover{
    text-decoration: underline;
}

.final{
    background-color: rgb(53, 48, 106);
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.footer{
    width: 100%;
    height: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.social_frame{
    display: flex;
    flex-direction: column;
    padding-right: 8rem;
}

.social_frame h2{
    margin-bottom: 0.2rem;
}

.icon_array{
    padding-top: 20px;
    font-size: 1.5rem;
}

.icon_array a{
    color: aliceblue;
    text-decoration: none;
}

.final_frame{
    display: flex;
    flex-direction: column;
    width: 150px;
}

.final_frame h2{
    padding-bottom: 20px;
    font-size: 20px;
}

.final_frame a{
    color: aliceblue;
    padding-bottom: 0.5rem;
    text-decoration: none;
    font-size: 15px;
}

.final_frame a:hover{
    text-decoration: underline;
}