*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 6rem;
    
}

.first_part{
    position: relative;
    width: 600px;
    text-align: center;
}

.second{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 45px 45px 45px 45px;
    background-color: rgb(242, 241, 241);
}

.icon{
    position: relative;
    width: 450px;
    text-align: center;
}

.icon_border1{
    display: inline-flex;
    height: 5rem;
    width: 5rem;
    font-size: 1.5rem;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(253, 19, 19);
    align-items: center;
}
.icon_border2{
    display: inline-flex;
    height: 5rem;
    width: 5rem;
    font-size: 1.5rem;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(238, 219, 5);
    align-items: center;
}

.icon_border3{
    display: inline-flex;
    height: 5rem;
    width: 5rem;
    font-size: 1.5rem;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(20, 12, 253);
    align-items: center;
}
.main_text{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}